{% extends "base.html" %}
{% load static %}
{% load custom_filters %}
{% block content %}



<div class="container">

    <div class="row">
        <div class="col">
        <img style="margin: 0px auto; width: 100%;" src="{% static 'img/blog-banner.jpg' %}"></img>
         </div>
    </div>


    <div class="row">
       <div class="col">
      <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'homepage' %}">Anasayfa</a></li>
      <li class="breadcrumb-item active"><a href="{% url 'add-post' %}">Yeni Makale</a></li>
    </ol>
       </div>
    </div>

{%if  edit%}
      <div class="card border-yok  mb-3" style="max-width: 100rem;">
<div class="card-header" align="center">Makale Düzenle</div>
<div class="card-body ">
    <h5 class="card-title"></h5>



            <form method="post" enctype="multipart/form-data">
      {% csrf_token %}



      <fieldset>


             <div class="form-group">



    </div>

          {% for object in object_list%}
      <div class="form-group">
      <label for="id_title"></label>
      <input type="text" name="title" value="{{object.title}}" class="form-control"  id="id_title" required placeholder="Başlık">
      <small  class="form-text text-muted">Makaleniz için ilgi çekici bir başlık giriniz.</small>
          {%if exist_blog%}
      <h6  class="form-text text-danger text-width-bold">
          Başlığınız var olan bir blog ile aynı başlığı taşıyor. Göndermeden önce mevcut blogu inceleyiniz. Eğer içerik farklı ise farklı bir başlık ile gönderebilirsiniz. Mevcut blogu incelemek için <a href="{{exist_blog.get_absolute_url}}">tıklayın</a>.
      </h6>
     {%endif%}
     
    </div>


          <div class="form-group">
                <select class="custom-select" name="category" id="id_category" required>
				<option value="" selected>Kategori Seçiniz</option>
				<option value="Futbol">Futbol</option>
				<option value="Finans">Finans</option>
				<option value="Teknoloji">Teknoloji</option>
			</select>
              </div>

    <div class="form-group">
      <label  for="id_body"></label>
      <textarea class="form-control" name="body"  id="id_body" rows="3" placeholder="Makale" required>{{object.body}}</textarea>
    </div>



        <div class="form-check">
        <label class="form-check-label">
          <input class="form-check-input" type="checkbox" name="allow_comments" value="True" checked="" >
          Yorumlara izin ver
        </label>
      </div>

      </fieldset>
      <div style="margin: 10px auto;" align="center">
           <button type="submit" class="save btn btn-warning" style=" text-transform: none;">Kaydet</button>
        <button  class="save btn btn-warning" style=" text-transform: none;">Vazgeç</button>
          <input type="hidden" name="control" value="edit">
          <input type="hidden" name="first_title" value="{{first_title}}" >
      </div>
       {%endfor%}
</form>

</div>
</div>
{%elif delete %}
   <div class="card border-yok  mb-3" style="max-width: 100rem;">
<div class="card-header" align="center">Makaleyi Sil?</div>
<div class="card-body ">
    <h5 class="card-title"></h5>



            <form method="post" enctype="multipart/form-data">
      {% csrf_token %}



      <fieldset>


             <div class="form-group">



    </div>

      <div class="form-group" align="center">
      
      
      <h6  class="form-text text-dark text-width-bold">
          <font class="h5 font-style-italic">"{{first_title}}"</font> başlıklı makaleyi silmek istediğinize emin misiniz?
      </h6>
      <small  class="form-text text-muted">*Bu işlem geri alınamaz.</small>
     
     
    </div>


      

      </fieldset>
      <div style="margin: 10px auto;" align="center">
           <button type="submit" class="save btn btn-danger" style=" text-transform: none;">Sil</button>
          <button type="button" onclick="return window.history.back()" class="save btn btn-secondary" style=" text-transform: none;">Vazgeç</button>
          
          <!--catch form.is_valid=False error-->
          <input type="hidden" name="title" value="bu alan required olduğu için gönderiyoruz.">
          <input type="hidden" name="body" value="bu alan required olduğu için gönderiyoruz.">
          <!---->
            <input type="hidden" name="control" value="delete">
          <input type="hidden" name="first_title" value="{{first_title}}">
      </div>

</form>

</div>
</div>

{%elif delete_info %}
   <div class="card border-yok  mb-3" style="max-width: 100rem;">
<div class="card-header" align="center">Bilgi</div>
<div class="card-body ">
    <h5 class="card-title"></h5>

    


      <fieldset>


             <div class="form-group">



    </div>

      <div class="form-group" align="center">
      
      
      <h6  class="form-text text-width-bold">
          <font class="h5 font-italic">"{{first_title}}"</font> başlıklı makale başarıyla silindi. Blog listesine dönmek için
          <a href="{%url 'post-list-filter' %}">tıklayın</a>.
      </h6>
      <small  class="form-text text-muted">*Makale {{user.username}} tarafından silindi.</small>
    
     
    </div>


      

      </fieldset>
      



</div>
</div>

{%else%}
    <div class="card border-yok  mb-3" style="max-width: 100rem;">
<div class="card-header" align="center">Yeni Makale Yayınla</div>
<div class="card-body ">
    <h5 class="card-title"></h5>



            <form method="post" enctype="multipart/form-data">
      {% csrf_token %}



      <fieldset>


             <div class="form-group">



    </div>

      <div class="form-group">
      <label for="id_title"></label>
      <input type="text" name="title" class="form-control" id="id_title" required placeholder="Başlık">
      <small  class="form-text text-muted">Makaleniz için ilgi çekici bir başlık giriniz.</small>
          {%if exist_blog%}
      <h6  class="form-text text-danger text-width-bold">
          Başlığınız var olan bir blog ile aynı başlığı taşıyor. Göndermeden önce mevcut blogu inceleyiniz. Eğer içerik farklı ise farklı bir başlık ile gönderebilirsiniz. Mevcut blogu incelemek için <a href="{{exist_blog.get_absolute_url}}">tıklayın</a>.
      </h6>
     {%endif%}
     
    </div>


          <div class="form-group">
                <select class="custom-select" name="category" id="id_category" required>
				<option value="" selected>Kategori Seçiniz</option>
				<option value="Futbol">Futbol</option>
				<option value="Finans">Finans</option>
				<option value="Teknoloji">Teknoloji</option>
			</select>
              </div>

    <div class="form-group">
      <label  for="id_body"></label>
      <textarea class="form-control" name="body" id="id_body" rows="3" placeholder="Makale" required></textarea>
    </div>



        <div class="form-check">
        <label class="form-check-label">
          <input class="form-check-input" type="checkbox" name="allow_comments" value="True" checked="" >
          Yorumlara izin ver
        </label>
      </div>

      </fieldset>
      <div style="margin: 10px auto;" align="center">
           <button type="submit" class="save btn btn-warning" style=" text-transform: none;">Kaydet</button>
        <button  class="save btn btn-warning" style=" text-transform: none;">Vazgeç</button>
      </div>

</form>

</div>
</div>
{%endif%}

<div>


{% endblock %}